.Home {
  align-items: center;
  justify-content: center;
  flex-direction: column;

  & div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

  & .landing {
    gap: 4vh;
    height: 93vh;

    & div {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
    }

    & .texts {
      gap: 2vh;

      & h1 {
        font-size: 4vw;
        width: 80%;
      }
      
      & h2 {
        font-size: 1.5vw;
        font-weight: 450;
        width: 80%;
        color: var(--lgray);
      }
    }

    & .buttons {
      align-items: center;
      gap: 2vh;

      & .button {
        font-size: 1.5vw;
        font-weight: 650;
        color: var(--bg);
        background-color: var(--green);
        filter: drop-shadow(0 0 10px transparent);
        padding: 1.29vh 1.5vw;
        border-radius: 1000px;

        &:hover {
          transform: scale(1.029);
          filter: drop-shadow(0 0 10px var(--shadow));
        }
        &:active {
          transform: scale(1);
        }
      }

      & p {
        font-size: 0.9vw;
        color: var(--lgray);
      }
    }
  }

  & .wcu {
    height: 100vh;
    flex-direction: row;
    gap: 2vw;

    & div {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      gap: 2vh;
      padding: 2vw 3vw;
      border-radius: 20px;
      min-height: 70%;
      background-color: var(--bg2);

      & h1 {
        font-size: 3.5vw;
        color: var(--green);
      }

      & p {
        font-size: 1.2vw;
        font-weight: 400;
        color: #e7e7e7;
      }
    }
  }

  & hr {
    background-color: red;
    height: 100%;
    width: 15px;
  }

  & span {
    color: var(--green);
  }
}