.Home {
  align-items: center;
  justify-content: center;
  flex-direction: column;

  & div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

  & .landing {
    gap: 4vh;
    height: 93vh;

    & div {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
    }

    & .texts {
      gap: 2vh;

      & h1 {
        font-size: 4vw;
        width: 80%;
      }
      
      & h2 {
        font-size: 1.5vw;
        font-weight: 450;
        width: 80%;
        color: var(--lgray);
      }
    }

    & .buttons {
      align-items: center;
      gap: 2vh;

      & .button {
        font-size: 1.5vw;
        font-weight: 650;
        color: var(--bg);
        background-color: var(--green);
        filter: drop-shadow(0 0 10px transparent);
        padding: 1.29vh 1.5vw;
        border-radius: 1000px;

        &:hover {
          transform: scale(1.029);
          filter: drop-shadow(0 0 10px var(--shadow));
        }
        &:active {
          transform: scale(1);
        }
      }

      & p {
        font-size: 0.9vw;
        color: var(--lgray);
      }
    }
  }

  & .wcu {
    height: 70vh;
    flex-direction: row;
    margin: 7vh 0;
    padding: 3vw;
    gap: 2vw;
    background-color: var(--bg2);
    border-radius: 20px;

    & .line {
      height: 100%;
      width: 0.3vw;
      border-radius: 1000px;
      background-color: rgba(255, 255, 255, 0.1);
    }


    & div {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;

      & h1 {
        font-size: 3.5vw;
        color: var(--green);
      }

      & p {
        font-size: 1.2vw;
        font-weight: 400;
        color: #e7e7e7;
      }
    }
  }

  & span {
    color: var(--green);
  }
}

@media screen and (max-width: 768px) {
  .Home {
    & .landing {
      height: 93vh;
      & .texts {
        & h1 {
          font-size: 4.5vh;
          width: 100%;
          text-align: center;
        }
        & h2 {
          font-size: 1.8vh;
          width: 100%;
          text-align: center;
        }
      }

      & .buttons {
        & .button {
          font-size: 2vh;
          padding: 1.2vh 5vw;
        }

        & p {
          font-size: 1.2vh;
        }
      }
    }

    & .wcu {
      margin: 3vh 0;
      padding: 3vh;
      height: auto;
      flex-direction: column;
      border-radius: 10px;
      gap: 2vh;

      & .line {
        display: none;
      }

      & div {
        gap: 1.5vh;
        & h1 {
          font-size: 3vh;
        }

        & p {
          font-size: 1.29vh;
          padding-left: 0.5vh;
        }
      }

    }
  }
}